:root {
  --light-bg: #eff0f4;
  --dark-bg: #212121;
  --text-900: #e3f2fd;
  --text-700: #7986cb;
  --text-600: #7986cb;
  --text-500: #7987cb1f;
  --text-300: #e3f2fd;
  --text-200: #e3f2fd7a;
  --text-100: #f5f5f5;
  --text-0: #ffffff;
}
