/*---------- 
fonts, IMPORT
------------*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url(global-styling.css);
@import url(color.css);
@import url(services.css);

/*-----------------
-< NAV BAR START >-
-------------------*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  min-height: 100%;
  z-index: 99;
  background-color: var(--text-700);
  overflow-x: hidden;
}

nav.open {
  width: 280px;
}

nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
  padding-top: 60px;
}

nav ul li {
  position: relative;
  width: 100%;
}

nav ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-bg);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translateX(100%);
  transition: var(--transition);
  z-index: -99;
}

nav ul li.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background-color: var(--dark-bg);
  transform: translateX(0%);
  z-index: -99;
}

nav ul li.active a {
  color: var(--text-900);
  transition: var(--transition);
}

nav ul li a {
  display: block;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: none;
  align-items: center;
  color: white;
  transition: var(--transition);
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 var(--dark-bg);
  opacity: 0;
  transition: var(--transition);
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 15px -15px 0 0 var(--dark-bg);
  opacity: 0;
  transition: var(--transition);
}

nav ul li.active a::before,
nav ul li.active a::after {
  opacity: 1;
}

nav ul li .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

nav ul li .icon i {
  position: relative;
  font-size: 1.8rem;
}

nav ul li .title {
  display: block;
  position: relative;
  padding-left: 15px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 1.3rem;
  font-weight: 400;
  white-space: nowrap;
}
/*---------------
-< NAV BAR END >-
-----------------*/

/*----------------
-< HEADER START >-
------------------*/
header {
  width: calc(100% - 90px);
  position: fixed;
  top: 0;
  right: 0;
}

header .container {
  position: relative;
}

/*--< BARS >--*/

header .bars {
  position: relative;
  left: -150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--text-600);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 9999;
}

header .bars.open {
  transform: translateX(200px);
}

header .bars .line {
  position: relative;
  display: block;
  width: calc(100% - 23px);
  height: 5px;
  border-radius: 30px;
  background-color: var(--text-100);
}

header .bars .line.top {
  margin-bottom: 5px;
}

header .bars .line.middle {
  margin-bottom: 5px;
}

header .bars.open .line.middle {
  background-color: transparent;
}

header .bars.open .line.top {
  transform: rotate(45deg) translate(7px, 7px);
}

header .bars.open .line.bottom {
  transform: rotate(-45deg) translate(7px, -7px);
}

/*--< SEARCH >--*/

header .search {
  padding: 10px;
  border-radius: 30px;
  background-color: var(--text-600);
}

header .search input {
  background-color: transparent;
  color: var(--text-100);
  transition: var(--transition);
  width: 0;
}
header .search input::placeholder {
  color: var(--text-100);
}

header .search.open input {
  width: 200px;
}

header .search .search_btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--text-100);
  background-color: var(--text-600);
}

header .search.open .search_btn {
  margin-left: 10px;
}

header .search .search_btn i {
  font-size: 1.5rem;
  font-weight: 500;
}

/*--< LOGO >--*/

header .logo {
  position: relative;
  width: 50px;
  height: 50px;
  border: 4px solid var(--text-600);
  border-radius: 50%;
}

header .logo a {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-600);
  text-align: center;
}

/*--------------
-< HEADER END >-
----------------*/

/*--------------
-< HOME START >-
----------------*/
.home .container {
  height: calc(100vh - 100px);
}

.home .text {
  color: var(--text-300);
  justify-content: flex-start;
  align-content: center;
  width: 50%;
  height: 50%;
}

.home .text h1 {
  font-size: 70px;
  font-weight: 500;
  width: 100%;
}

.home .text p {
  font-weight: 400;
  width: 100%;
  margin: 20px 0;
}

.home .text .join {
  width: 100%;
}

.home .join a {
  position: relative;
  display: inline-block;
  color: var(--text-300);
  border: 1px solid var(--text-600);
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 20px;
  overflow: hidden;
  transition: var(--transition);
}

.home .join a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: var(--transition);
  box-shadow: 0 0 0 0 var(--text-600);
  z-index: -9;
}

.home .join a:hover::before {
  box-shadow: 0 0 0 300px var(--text-600);
}

.home .social {
  margin-top: 30px;
}

.home .social i {
  font-size: 1.5rem;
  color: var(--text-300);
  padding: 5px;
}

.home .social i:hover {
  color: var(--text-600);
}

.home .img {
  position: relative;
  display: block;
  width: 50%;
}

.home .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0005;
  border-radius: 30px;
  z-index: 999;
}

.home img {
  border-radius: 30px;
  z-index: -9;
}

.home .animation {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
}

.home .effect_1 {
  position: absolute;
  right: 50px;
  bottom: 150px;
  width: 30px;
  height: 30px;
  border: 3px solid #8a49ff;
  animation: square 5s linear infinite;
}

@keyframes square {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.home .effect_2 {
  position: absolute;
  top: -170px;
  right: 40%;
  width: 100px;
  height: 100px;
  border: 10px solid #ff9c07;
  border-radius: 50%;
  animation: cyrcle 3s linear infinite alternate;
}

@keyframes cyrcle {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

.home .effect_3 {
  position: absolute;
  top: 70%;
  left: 15%;
  height: 120px;
  width: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home .effect_3 span {
  width: 5px;
  height: 5px;
  background-color: #f48fb1;
  border-radius: 50%;
  animation: dots 2s linear infinite alternate;
}

@keyframes dots {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30px);
  }
}

.home .effect_4 {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 50px;
  height: 50px;
}

.home .effect_4 span {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #06d79c;
  clip-path: polygon(0 48%, 0 100%, 46% 100%);
  animation: triangle 10s linear infinite;
}

.home .effect_4::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50px;
  height: 50px;
  background-color: #06d79c6b;
  clip-path: polygon(0 48%, 0 100%, 46% 100%);
  animation: triangle 10s linear infinite;
}

@keyframes triangle {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.home .effect_5 {
  position: absolute;
  top: 58%;
  left: 45%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9f9478;
  filter: blur(3px);
  animation: blurCyrcle 5s linear infinite alternate;
}

@keyframes blurCyrcle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.6);
  }
}

/*--------------
-< HOME END >-
----------------*/

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--text-600);
  cursor: pointer;
  display: none;
}

.scroll-to-top i {
  position: relative;
  color: var(--text-300);
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.scroll-to-top i:last-of-type {
  position: absolute;
  top: 20px;
  color: var(--text-200);
  font-size: 1.3rem;
  font-weight: 600;
}

.scroll-to-top:hover i {
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}
